name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Bazel
        uses: bazel-contrib/setup-bazel@v0
        with:
          bazelisk-version: "latest"

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true

